<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <main id="main-holder">
    <h1 id="welcome-header">Welcome!</h1>
    <h2 id="login-header">Login</h2>
    
    <form id="login-form" action="{{ url_for('login') }}" method="post">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="E-mail">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">

      <a href ="/users">Login</a>
      <!---<input type="register" value="Register" id="register-button">--->
      <a href ="/register">Register</a>
      
    </form>
  
  </main>
</body>

</html>